<style>
    html,
    body {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        background-color: #3498db;
        font-family: 'Kanit', sans-serif;
        font-size: 18px;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 200;
    }
    
    a {
        text-decoration: none;
    }
    
    p,
    li,
    a {
        font-size: 14px;
    }
    
    fieldset {
        margin: 0;
        padding: 0;
        border: none;
    }
</style>
<div class="containerRegister">
    <div class="wrapper">
        <div class="form-wrapper">
            <fieldset class="section is-active">
                <form ng-submit="loginFN()">
                    <input type="hidden" ng-model="_token" value="{!! csrf_token() !!}">
                    <input type="text" name="name" placeholder="username" ng-model="username">
                    <input type="password" placeholder="password" ng-model="password">
                    <button type="submit" class="btn btn-primary">เข้าสู่ระบบ</button>
                    <button type="button" class="btn w3-green" ng-click="logx()">เข้าสู่ระบบ</button>
                </form>
            </fieldset>
        </div>
    </div>
</div>