<style>
    html,
    body {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        background-color: #3498db;
        font-family: 'Kanit', sans-serif;
        font-size: 18px;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 200;
    }
    
    a {
        text-decoration: none;
    }
    
    p,
    li,
    a {
        font-size: 14px;
    }
    
    fieldset {
        margin: 0;
        padding: 0;
        border: none;
    }
</style>
<div class="containerRegister">
    <div class="wrapper">
        <div class="form-wrapper">
            <fieldset class="section is-active">
                <h3>เข้าสู่ระบบ</h3>
                <input type="text" name="name" placeholder="ชื่อ" ng-model="name">
                <input type="email" name="email" placeholder="อีเมล" ng-model="email">
                <a href="index.html">
                    <div class="button">ล็อกอิน</div>
                </a>
            </fieldset>
        </div>
    </div>
</div>