<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/fonts/kanit.css" rel="stylesheet">
</head>
<style>
    .contentLogin,
    .contentRegister {
        font-family: 'Kanit', sans-serif;
        font-size: 18px;
    }
</style>

<body>
    <div class="container">
        <div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="contentLogin">
                    <a href="login.html"><button type="button" class="btn btn-block btn-lg btn-default btn-large">
                        <i class="icon-user icon-white"></i>ล็อกอิน</button></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="contentRegister">
                    <a href="register.html"><button type="button" class="btn btn-block btn-lg btn-default btn-large">
                        สมัครสมาชิก</button></a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>