<style>
.w3-theme {color:#fff !important;background-color:#3e607e !important}
.open-sidenav{background-color:#b1d0ec !important}
.w3-btn {background-color:#4CAF50;margin-bottom:4px}
.w3-code{border-left:4px solid #4CAF50}
.myMenu {margin-bottom:150px}
.btn-btn {
	text-align: center;
    text-decoration: none;
    display: inline-block;
}
.btn-btn:hover{
	background-color: #4CAF50;
}
</style>
<body>
<!-- navbar Top -->
<div class="w3-top">
  	<div class="w3-bar w3-theme w3-large" style="z-index:4;">
	    <i class="fa fa-bars w3-opennav w3-hide-large w3-xlarge w3-margin-left w3-margin-right" onclick="openSidenavBar()"></i>
	    <a class="w3-bar-item w3-button" href="" onclick="w3_show_nav('listMenu')">MTMS</a>
	    <a class="w3-bar-item w3-button" href="#"> / Status : Admin</a>
        <a class="w3-bar-item w3-button" href="#"> / สาขาของคุณ : อ้อมน้อย</a>
	    <a class="w3-bar-item w3-button w3-right" href="">Logout</a>
  	</div>
</div>
<!-- Sidenav -->
<nav class="w3-sidenav w3-collapse w3-animate-left SidenavLeft" style="z-index:3;width:110px;" id="mySidenav">
  	<div class="w3-clear"></div>
    <a href="javascript:void(0)" onclick="closeSidenav()" class="w3-text-teal w3-hide-large w3-closenav w3-large">ปิด <i class="fa fa-remove"></i></a>
  	<div id="listMenu">
	    <div ng-init="page=one">
	        <a href="" class="w3-medium" ng-click="page='one'"><i class="fa fa-building-o fa-3x" aria-hidden="true"></i></a>
	        <a href="" class="w3-medium" ng-click="page='stock'"><i class="fa fa-tasks fa-3x" aria-hidden="true"></i> </a>
	        <a href="" class="w3-medium" ng-click="page='bookings'"><i class="fa fa-shopping-cart fa-3x" aria-hidden="true"></i></a>
	        <div class="w3-dropdown-hover">
	            <a href="" class="w3-medium"><i class="fa fa-tasks fa-3x" aria-hidden="true"></i></a>
	                <div class="w3-dropdown-content w3-border">
	                    <a href="" ng-click="page='addbranchs'" class="w3-hover-light-blue">เพิ่มสาขา</a>
	                    <a href="" ng-click="page='addMember'" class="w3-hover-light-blue">เพิ่มพนักงาน</a>
	                    <a href="" ng-click="page='addBrand'" class="w3-hover-light-blue">เพิ่มยี่ห้อรถ</a>
	                    <a href="" ng-click="page='addModel'" class="w3-hover-light-blue">เพิ่มรุ่นรถ</a>
	                    <a href="" ng-click="page='addColor'" class="w3-hover-light-blue">เพิ่มสีรถ</a>
	                    <a href="" ng-click="page='addDetailCar'" class="w3-hover-light-blue">เพิ่มรายละเอียดรถ</a>
	                    <a href="" ng-click="page='addStore'" class="w3-hover-light-blue">รายการที่ขายแล้ว</a>
	                </div>
	        </div>
	        <a href="" class="w3-medium" ng-click="page='setting'"><i class="fa fa-cog fa-3x" aria-hidden="true"></i></a>
	        <a href="#!/logout" class="w3-medium"><i class="fa fa-sign-out fa-3x" aria-hidden="true"></i></a>
    	</div>
  	</div>
</nav>
<!-- Overlay effect when opening sidenav on small screens -->
<div class="w3-overlay w3-hide-large" onclick="closeSidenav()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
<!-- Main content: shift it to the right by 270 pixels when the sidenav is visible -->
<div class="w3-main w3-container" style="margin-left:120px; margin-top:27px;">
	<div class="w3-container w3-section w3-padding-large w3-animate-left" ng-switch on="page">
	  	<!-- switch page -->
            <div ng-switch-default><!-- page default -->
        <div class="label-search"><label>ค้นหา</label></div>
        <div class='row'>
        	<div class='col-sm-1'></div>
            <div class='col-sm-4'>
                <div class='form-group'>
                    <!-- <label>ยี่ห้อ</label> -->
				    <select name="mySelect" id="mySelect"  ng-init="showBrands()"
                        ng-options="option.brandName for option in dataBrands.availableOptions track by option.brandId"
                        ng-model="dataBrands.selectedOption" class="w3-input w3-border">
                    </select>
                </div>
            </div>
            <div class='col-sm-4'>
                <div class='form-group'>
                    <!-- <label>เพิ่มรุ่นรถ</label> -->
                        <select name="mySelect" id="mySelect"  ng-init="listModel()"
                            ng-options="option.name for option in dataModel.availableOptions track by option.id"
                            ng-model="dataModel.selectedOption" class="w3-input w3-border">
                         </select>
                </div>
            </div>
            <!--  row form search -->
            <div class='col-sm-1 text-right'>
                <div class='form-group'>
                    <button class="btn btn-lg btn-btn">Button</button>
                </div>
            </div>
                <div class='col-sm-2'></div>
        </div>
				<hr>
				<div class="text-center">ตารางการค้นหา</div>
				<div class="table-responsive">
					<table class="table table-bordered">
                        <thead>
                            <tr class="w3-khaki">
                                <th>Models</th>
                                <th>ทั้งหมด</th>
                                <th>สี</th>
                                <th>สาขา1</th>
                                <th>สาขา2</th>
                                <th>สาขา3</th>
                                <th>สาขา4</th>
                                <th>สาขา5</th>
                                <th>สาขา6</th>
                                <th>สาขา7</th>
                                <th>สาขา8</th>
                                <th>สาขา9</th>
                                <th>สาขา10</th>
                                <th>สาขา11</th>
                            </tr>
                        </thead>
                            <tr>
                                <td colspan="15"  class="w3-pale-red"><b>Brand :</b> Honda</td>
                            </tr>
                            <tr>
                                <td>Wave 110</td>
                                <td>26</td>
                                <td>ดำ</td>
                                <td>10</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>4</td>
                                <td>0</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>Wave i 125</td>
                                <td>226</td>
                                <td>ดำ</td>
                                <td>10</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>4</td>
                                <td>0</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td rowspan="3" style="vertical-align:middle;">CBR 1000rr</td>
                                <td rowspan="3" style="vertical-align:middle;">300</td>
                                <td>แดง-ดำ</td>
                                <td>10</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>4</td>
                                <td>0</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                    </table>
				</div>
            </div> <!-- end page default -->
            <!-- manage data -->
            <div class="w3-animate-left" ng-switch-when="addbranchs" ng-controller="homeController" ng-init="listBranch()">
                    <div class="text-center"><h4><label>จัดการข้อมูลสาขา</label></h4></div>
                <div>
                    <form ng-submit="addBranch()">
                        <div class="col-md-6 col-md-offset-3">
                                <div>
                                    <label for="fname">ชื่อสาขา</label>
                                    <input type="text" ng-model="branch" class="w3-input w3-border" placeholder="ชื่อสาขา" required>
                                    <label for="lname">ที่อยู่สาขา</label>
                                    <input type="text" ng-model="branch_address" class="w3-input w3-border" placeholder="ที่อยู๋สาขา" required>
                                    <label for="country">เบอร์โทรสาขา</label>
                                    <input type="text" ng-model="branch_tel" class="w3-input w3-border" placeholder="เบอร์โทรสาขา" required>
                                    <div class="alert alert-success" role="alert" ng-show="showAlert" id="alertBlock">
                                        <strong>Success!!!</strong> บันทึกข้อมูลเรียบร้อยแล้ว
                                    </div>
                                    <div class="alert alert-warning" role="alert" ng-show="WarningAlert">
                                        <strong>Warning!</strong> Better check yourself, you're not looking too good.
                                    </div>
                                    <div class="text-right btn-margin">
                                        <input class="btn btn-success" type="submit" value="{{btnAddCtrl}}" id="success-btn">
                                    </div>
                                </div>
                            </div>
                    </form>
                        <div class="col-md-12 col-sm-12 text-center"><label>ตารางข้อมูลสาขา</label><hr></div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="w3-khaki">
                                    <th>ชื่อสาขา</th>
                                    <th>ที่อยู่สาขา</th>
                                    <th>ติดต่อ</th>
                                    <th>จัดการ</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat=" list in listbranchs">
                                        <td>{{list.branchs_name}}</td>
                                        <td>{{list.branchs_address}}</td>
                                        <td>{{list.branchs_tel}}</td>
                                        <td>
                                            <a href="" ng-click="deleteBranch(list.branchs_id)"><i class="material-icons" style="font-size:20px;color:red">clear</i></a>
                                            <a href="" ng-click="updateBranch(list)"><i class="material-icons" style="font-size:20px;color:dodgerblue">create</i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
                <div class="w3-animate-left" ng-switch-when="addMember" ng-controller="homeController" ng-init="showDataMembers();listBranch()">
                    <div class="text-center"><h4>เพิ่มพนักงาน</h4></div>
                        <hr>
                    <form ng-submit="addMember()">
                        <div class="col-md-6 col-sm-8 col-md-offset-3">
                            <label>ชื่อพนักงาน</label>
                            <input type="text" class="w3-input w3-border" placeholder="ชื่อพนักงาน" ng-model="m_usernames" required>
                            <label>รหัสผ่าน</label>
                            <input type="password" class="w3-input w3-border" placeholder="รหัสผ่าน" ng-model="m_passwords" required>
                            <label>สถานนะ</label>
                            <select ng-model="status" class="w3-input w3-border" required>
                                <option value="">--กรุณาเลือกสถานะ--</option>
                                <option value="0">Admin</option>
                                <option value="1">Super User</option>
                                <option value="2">User</option>
                            </select>
                            <label>สาขา</label>
                            <select name="mySelect" id="mySelect"
                                    ng-options="option.name for option in dataBranch.availableOptions track by option.id"
                                    ng-model="dataBranch.selectedOption" class="w3-input w3-border">
                            </select>
                            <div class="alert alert-success" role="alert" ng-show="showAlert" id="alertBlock">
                                <strong>Success!!!</strong> บันทึกข้อมูลเรียบร้อยแล้ว
                            </div>
                            <div class="text-right btn-margin">
                                <input type="hidden" ng-model="mid">
                                <input type="submit" class="btn btn-success" value="{{btnAddCtrl}}" onclick="test2()">
                            </div>
                        </div>
                    </form>
                    <div class="col-md-12 text-center"><b>รายละเอียดพนักงาน</b> ของ Admin</div>
                    <table class="table">
                        <thead class="w3-khaki">
                            <th>ชื่อพนักงาน</th>
                            <th>สถานะ</th>
                            <th>สาขา</th>
                            <th>จัดการ</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="m in listMembers">
                                <td>{{ m.username }}</td>
                                <td ng-if="m.status == 0">Admin</td>
                                <td ng-if="m.status == 1">Super User</td>
                                <td ng-if="m.status == 2">User</td>
                                <td>{{ m.branchs_name }}</td>
                                <td>
                                    <a href="" ng-click="deleteMember(m.id)"><i class="material-icons" style="font-size:20px;color:red">clear</i></a>
                                    <a href="" onclick="test()" ng-click="updeteMember(m)"><i class="material-icons" style="font-size:20px;color:dodgerblue">create</i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="w3-animate-left" ng-switch-when="addBrand" ng-controller="homeController" ng-init="showBrands()">
                    <div class="text-center"><h4>เพิ่มยี่ห้อรถ</h4></div>
                    <div class="col-md-6 col-md-offset-3">
                        <form ng-submit="addBrand()">
                            <input type="hidden" ng-model="bid">
                            <label>ยี่ห้อรถ</label>
                            <input type="text" ng-model="brand" class="w3-input w3-border" placeholder="เพิ่มยี่ห้อรถ">
                            <div class="alert alert-success" role="alert" ng-show="showAlert" id="alertBlock">
                                <strong>Success!!!</strong> บันทึกข้อมูลเรียบร้อยแล้ว
                            </div>
                            <div class="alert alert-warning" role="alert" ng-show="WarningAlert">
                                <strong>Warning!</strong> Better check yourself, you're not looking too good.
                            </div>
                            <div class="text-right btn-margin">
                                <input class="btn btn-success" type="submit" value="{{btnAddCtrl}}">
                            </div>
                        </form>
                    </div>
                <div class="col-md-12 text-center"><b>เพิ่มยี่ห้อรถ</b></div>
                    <table class="table">
                        <thead class="w3-khaki">
                                <th>ยี่ห้อรถ</th>
                                <th>จัดการ</</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="list in listBrand">
                                <td>{{list.brands_name}}</td>
                                <td>
                                    <a href="" ng-click="deleteBrans(list.brands_id)"><i class="material-icons" style="font-size:20px;color:red">clear</i></a>
                                    <a href="" ng-click="updateBrans(list)"><i class="material-icons" style="font-size:20px;color:dodgerblue">create.</i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="w3-animate-left" ng-switch-when="addModel" ng-controller="homeController" ng-init="listModel()">
                    <div class="text-center"><h4>เพิ่มรุ่นรถ</h4></div>
                        <form ng-submit="insertModel()">
                            <div class="col-md-6 col-md-offset-3">
                            <label>ยี่ห้อรถ</label>
                                <select name="mySelect" id="mySelect"  ng-init="showBrands()"
                                ng-options="option.brandName for option in dataBrands.availableOptions track by option.brandId"
                                ng-model="dataBrands.selectedOption" class="w3-input w3-border">
                                </select>
                            <label>รุ่น</label>
                                <input type="text" ng-model="Models" class="w3-input w3-border" placeholder="กรอกรุ่นรถ" required>
                                <input type="hidden" ng-model="models_id">
                                <div class="alert alert-success" role="alert" ng-show="showAlert" id="alertBlock">
                                    <strong>Success!!!</strong> บันทึกข้อมูลเรียบร้อยแล้ว
                                </div>
                                <div class="text-right btn-margin">
                                    <input type="reset" class="btn btn-danger" value="ยกเลิก">
                                    <input type="submit" class="btn btn-success" value="{{btnAddCtrl}}">
                                </div>
                            </div>
                        </form>
                    <div class="col-md-12 text-center"><b>รายการรถของคุณ</b></div>
                    <div class="table-resposive">
                            <table class="table table-hover">
                                <thead>
                                    <th>ยี่ห้อ</th>
                                    <th>รุ่น</th>
                                    <th>แก้ไข</th>
                                    <th>ลบ</th>
                                </thead>
                                <tr ng-repeat="m in modelName">
                                    <td> {{ m.brands_name }} </td>
                                    <td> {{ m.models_name }} </td>
                                    <td>
                                        <a href="" ng-click="editModel(m.models_id,m.models_name)">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            </table>
                    </div>
                </div>
                <div class="w3-animate-left" ng-switch-when="addColor" ng-controller="homeController" ng-init="showColor();">
                    <div class="text-center"><h4>เพิ่มสีรถ</h4></div>
                    <form ng-submit="InsertColor()">
                        <div class="col-md-6 col-md-offset-3">
                            <input type="hidden" ng-model="colorID">
                            <label>สี</label>
                            <input type="text" ng-model="addColors" class="w3-input w3-border" placeholder="เพิ่มสีรถ">
                            <div class="alert alert-success" role="alert" ng-show="showAlert" id="alertBlock">
                                <strong>Success!!!</strong> บันทึกข้อมูลเรียบร้อยแล้ว
                            </div>
                            <div class="text-right btn-margin">
                                    <input class="btn btn-success" type="submit" value="{{btnAddCtrl}}">
                            </div>
                        </div>
                    </form>
                <table class="table">
                    <thead>
                        <th>สีรถ</th>
                        <th>จัดการ</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="c in color">
                            <td>{{ c.colors_name}}</td>
                            <td>
                                <a href="" ng-click="deleteColor(c.colors_id)"><i class="material-icons" style="font-size:20px;color:red">clear</i></a>
                                <a href="" ng-click="updateColor(c.colors_name,c.colors_id)"><i class="material-icons" style="font-size:20px;color:dodgerblue">create.</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
                <div class="w3-animate-left" ng-switch-when="addDetailCar" ng-controller="homeController" ng-init="showDetails()">
                    <div class="text-center"><h4>เพิ่มรายละเอียดรถ</h4></div>
                    <form ng-submit="InsertDetaial()">
                        <div class="col-md-6 col-md-offset-3">
                            หมายเลขคัสซี
                            <input type="hidden" ng-model="did">
                            <input type="text" ng-model="serial_number_id" class="w3-input w3-border" placeholder="หมายเลขคัสซี">
                            หมายเลขเครื่อง
                            <input type="text" ng-model="engines_number" class="w3-input w3-border" placeholder="หมายเลขเครื่อง">
                            เพิ่มที่สาขา
                            <select name="mySelect" id="mySelect"  ng-init="listBranch()"
                            ng-options="option.name for option in dataBranch.availableOptions track by option.id"
                            ng-model="dataBranch.selectedOption" class="w3-input w3-border">
                            </select>
                            เพิ่มยี่ห้อรถ
                            <select name="mySelect" id="mySelect"  ng-init="showBrands()" ng-change="selctToDetail(dataBrands.selectedOption.brandId,'0','0','QTY')"
                              ng-options="option.brandName for option in dataBrands.availableOptions track by option.brandId"
                              ng-model="dataBrands.selectedOption" class="w3-input w3-border">
                              </select>
                            เพิ่มรุ่นรถ :
                             <select ng-options="option as option.name for option in dataModels.availableOptions track by option.id"
							ng-model="dataModels.selectedOption" class="w3-input w3-border">
								</select>
                            สีรถ
                            <select name="mySelect" id="mySelect"  ng-init="showColor()"
                            ng-options="option.name for option in dataColor.availableOptions track by option.id"
                            ng-model="dataColor.selectedOption" class="w3-input w3-border">
                            </select>
                            <div class="alert alert-success" role="alert" ng-show="showAlert" id="alertBlock">
                                <strong>Success!!!</strong> บันทึกข้อมูลเรียบร้อยแล้ว
                            </div>
                            <div class="text-right btn-margin">
                                <input type="submit" class="btn btn-success" value="{{btnAddCtrl}}">
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <th>หมายเลขคัสซี</th>
                                <th>หมายเลขเครื่อง</th>
                                <th>สาขา</th>
                                <th>ยี่ห้อ</th>
                                <th>รุ่น</th>
                                <th>สี</th>
                                <th>จัดการ</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="d in listdetails">
                                    <td>{{d.details_id}}</td>
                                    <td>{{d.engines_number}}</td>
                                    <td>{{d.branchs_name}}</td>
                                    <td>{{d.brands_name}}</td>
                                    <td>{{d.models_name}}</td>
                                    <td>{{d.colors_name}}</td>
                                    <td>
                                        <a href="" ng-click="del(d.details_id)"><i class="material-icons" style="font-size:20px;color:red">clear</i></a>
                                        <a href="" ng-click="upd(d)"><i class="material-icons" style="font-size:20px;color:dodgerblue">create.</i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            <!-- page bookings -->
            <div class="w3-animate-left" ng-switch-when="bookings">
                <div class="text-center"><h4>รายการใบสั่งจอง</h4></div>
                <div class="text-center"><label>ตารางใบสั่งสินค้า</label></div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <th>ลำดับ</th>
                            <th>รายการ</th>
                            <th>ยี่ห้อ</th>
                            <th>รุ่น</th>
                            <th>สี</th>
                            <th>จำนวน</th>
                            <th>จัดการ</th>
                        </thead>
                    </table>
                </div>
            </div>
            <!-- stock -->
            <div class="w3-animate-left" ng-switch-when="stock">
                <div class="text-center"><h4>คลังสินค้า</h4></div>
                    <div class="w3-responsive">
                    <input class="w3-input w3-animate-input" type="text" style="width:40%" placeholder="ค้นหา">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="w3-khaki">
                                <th>Models</th>
                                <th>ทั้งหมด</th>
                                <th>สี</th>
                                <th>สาขา1</th>
                                <th>สาขา2</th>
                                <th>สาขา3</th>
                                <th>สาขา4</th>
                                <th>สาขา5</th>
                                <th>สาขา6</th>
                                <th>สาขา7</th>
                                <th>สาขา8</th>
                                <th>สาขา9</th>
                                <th>สาขา10</th>
                                <th>สาขา11</th>
                            </tr>
                        </thead>
                            <tr>
                                <td colspan="15"  class="w3-pale-red"><b>Brand :</b> Honda</td>
                            </tr>
                            <tr>
                                <td>Wave 110</td>
                                <td>26</td>
                                <td>ดำ</td>
                                <td>10</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>4</td>
                                <td>0</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>Wave i 125</td>
                                <td>226</td>
                                <td>ดำ</td>
                                <td>10</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>4</td>
                                <td>0</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td rowspan="3" style="vertical-align:middle;">CBR 1000rr</td>
                                <td rowspan="3" style="vertical-align:middle;">300</td>
                                <td>แดง-ดำ</td>
                                <td>10</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>4</td>
                                <td>0</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>ขาว</td>
                                <td>10</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>4</td>
                                <td>0</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>แดง</td>
                                <td>10</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>4</td>
                                <td>0</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                    </table>
            </div>
            <!-- end manage data -->
            <div class="w3-animate-left" ng-switch-when="setting">
                <div class="text-center"><h1>Setting</h1></div>
            </div>
        </div> <!-- end switch -->
	</div>
</div><!-- END MAIN -->
<script>
// Script to open and close the sidenav
function openSidenavBar() {
    document.getElementById("mySidenav").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
function closeSidenav() {
    document.getElementById("mySidenav").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
function w3_show_nav(name) {
    document.getElementById("listMenu").style.display = "none";
    document.getElementById("menuRef").style.display = "none";
    document.getElementById(name).style.display = "block";
    openSidenavBar();
}
</script>