<style>
    html,
    body {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        font-family: 'Kanit', sans-serif;
        font-size: 18px;
    }h1,h2,h3,h4,h5,h6 {
        font-family: 'Kanit', sans-serif;
        font-weight: 200;
    }p,li,a {
        font-size: 14px;
    }
    fieldset {
        margin: 0;
        padding: 0;
        border: none;
    }
    .r-active {
        border-color: 1px solid green;
    }
</style>
<body ng-controller="register">
    <form method="POST" ng-submit="addUser()">
        <div class="containerRegister w3-card-16">
            <div class="wrapper w3-card-16">
                <ul class="steps">
                    <li class="is-active">ขั้นตอนที่ 1</li>
                    <li>ขั้นตอนที่ 2</li>
                    <li>ขั้นตอนที่ 3</li>
                </ul>
                <div class="form-wrapper w3-card-16">

                    <fieldset class="section is-active w3-card-16">
                        <h3>เลือกระดับสมาชิก</h3>
                        <div class="row cf">
                                <label class="four col">
                                    <input type="radio" ng-model="st" value="Admin">
                                    Admin
                                </label>
                                <label class="four col">
                                    <input type="radio" ng-model="st" value="SuperUser">
                                    SuperUser
                                </label>
                                <label class="four col">
                                    <input type="radio" ng-model="st" value="User">
                                    User
                                </label>
                        </div>
                        <div class="w3-btn bt-Next w3-blue">ถัดไป</div>
                    </fieldset>
                    <fieldset class="section w3-card-16">
                        <h3>กรอกรายละเอียดของคุณ</h3>
                        <input type="text" name="username" placeholder="ชื่อผู้ใช้งาน" ng-model="username">
                        <input type="password" name="pwd" placeholder="รหัสผ่านเข้าใช้งาน" ng-model="pwd">
                        <select name="branch" id="branch">
                            <option value="0">[-กรุณาเลือกสาขา-]</option>
                        </select>
                        <div class="divBtn">
                            <button class="w3-btn w3-white bt-Back">กลับ</button>
                            <button type="submit" class="w3-btn bt-Next w3-blue">ถัดไป</button>
                        </div>
                    </fieldset>
                    <fieldset class="section w3-card-16">
                        <h3>ลงทะเบียนเรียบร้อย</h3>
                        <img src="icon/png/id-card.png" alt="id-card" width="180px">
                        <a href="#!/profile" type="button" class="w3-btn bt-close w3-blue">ปิด</a>
                    </fieldset>
                </div>
            </div>
        </div>
    </form>
    <script>
        $(document).ready(function () {
            $(".form-wrapper .bt-Next").click(function () {
                var button = $(this);
                var currentSection = button.parents(".section");
                var currentSectionIndex = currentSection.index();
                var headerSection = $('.steps li').eq(currentSectionIndex);

                currentSection.removeClass("is-active").next().addClass("is-active");
                headerSection.removeClass("is-active").next().addClass("is-active");

                $(".form-wrapper ").submit(function (e) {
                    e.preventDefault();
                });

                if (currentSectionIndex === 3) {
                    $(document).find(".form-wrapper .section").first().addClass("is-active");
                    $(document).find(".steps li").first().addClass("is-active");
                }
            });

            $(".form-wrapper .bt-Back").click(function () {
                var button = $(this);
                var currentSection = button.parents(".section");
                var currentSectionIndex = currentSection.index();
                var headerSection = $('.steps li').eq(currentSectionIndex);

                currentSection.removeClass("is-active");
                headerSection.removeClass("is-active");

                $(".form-wrapper").click(function (e) {
                    e.preventDefault();
                });

                if (currentSectionIndex === 1) {
                    $(document).find(".form-wrapper .section").first().addClass("is-active");
                    $(document).find(".steps li").first().addClass("is-active");
                }
            });

            $(".bt-close").click(() => {
                $(".steps .form-wrapper").hide();
            })
        });
    </script>
</body>

</html>