<div ng-include="'views/menu.html'"></div>
<div class="w3-responsive">
            <table class="w3-table-all" border="1">
                <tr>
                    <th>Models</th>
                    <th>ทั้งหมด</th>
                    <th>สีรถ</th>
                    <th>สาขา1</th>
                    <th>สาขา2</th>
                    <th>สาขา3</th>
                    <th>สาขา4</th>
                    <th>สาขา5</th>
                    <th>สาขา6</th>
                    <th>สาขา7</th>
                    <th>สาขา8</th>
                    <th>สาขา9</th>
                    <th>สาขา10</th>
                    <th>สาขา11</th>
                </tr>
                <tr>
                    <td colspan="15" align="right"><b>Brand :</b> Honda</td>
                </tr>
                <tr>
                    <td>เวฟ110</td>
                    <td>26</td>
                    <td>ดำ</td>
                    <td>10</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>5</td>
                    <td>4</td>
                    <td>3</td>
                    <td>4</td>
                    <td>0</td>
                    <td>1</td>
                    <td>1</td>
                </tr>
            </table>
        </div>